@model IEnumerable<Inventory.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Suppliers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Add a New Supplier</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.SupplierId">Edit</a>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.SupplierId">Details</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.SupplierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
